$default: #283136;
$firm: #32626C;
$dark: #133133;
$light: #DAF4FA;
$accent: #8FC8D4;

$black: #000000;
$white: #FFFFFF;


$josefin-sans: 'Josefin Sans', sans-serif;

$montserrat: 'Montserrat', sans-serif;
